{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="index">
  <h1 class="indexh1">Welcome to Tech Store</h1>
  <p class="indexp">We research the net for affordable top tech ~ So you dont have to</p>
  <a href="{% url 'products' %}?category=television"><button class="button">Televisions</button></a>
  <a href="{% url 'products' %}?category=computers"><button class="button">Computers</button></a>
  <a href="{% url 'products' %}?category=gaming_computers"><button class="button">Gaming PC</button></a>
  <a href="{% url 'products' %}?category=consoles"><button class="button">Consoles</button></a>
  <a href="{% url 'products' %}?category=vr"><button class="button">Virtual Reality</button></a>
</div>
{% endblock %}