html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: blueviolet;
  /* For browsers that do not support gradients */
  background-image: linear-gradient(#F0F8FF, #00FFFF, #14d36a, #DDA0DD);
  background-repeat: no-repeat;
}

#banner {
  background-color: #A9A9A9;
  text-align: center;
}

h1.logo {
  margin-top: 10%;
  text-align: center;
  font-family: Fantasy;
}

.index {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.index .button {
  background-color: #04AA6D;
  /* Green */
  border: 1px solid green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  float: left;
  margin-top: 0%;
}

.index .button:not(:last-child) {
  border-right: none;
  /* Prevent double borders */
}

.index .button:hover {
  background-color: #3e8e41;
}

.indexh1 {
  text-align: center;
}

.indexp {
  text-align: center;
}

.btt-button {
  height: 42px;
  width: 42px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.btt-link,
.update-link,
.remove-item {
  cursor: pointer;
}

.btn-black {
  background: #008d5e;
  color: #8A2BE2;
}

.btn-keepshopping {
  background: #7FFFD4;
  color: black !important;
  /* use important to override link colors for <a> elements */
  border: 1px solid black;
}

.btn-checkout {
  background: #05ff05;
  color: black !important;
  /* use important to override link colors for <a> elements */
  border: 1px solid black;
}

.remove-item,
.update-link {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.remove-item {
  background-color: white;
  color: black;
  border: 2px solid #aa0404;

}

.remove-item:hover {
  background-color: #aa0404;
  color: white;
}

.update-link {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.update-link:hover {
  background-color: #008CBA;
  color: white;
}

/* ------------------------------- bootstrap toasts */

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 10px solid black;
  position: absolute;
  top: -10px;
  right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
  border-bottom-color: #007bff !important;
}

.arrow-secondary {
  border-bottom-color: #6c757d !important;
}

.arrow-success {
  border-bottom-color: #28a745 !important;
}

.arrow-danger {
  border-bottom-color: #dc3545 !important;
}

.arrow-warning {
  border-bottom-color: #ffc107 !important;
}

.arrow-info {
  border-bottom-color: #17a2b8 !important;
}

.arrow-light {
  border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
  border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}